
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background: linear-gradient(179deg,rgba(0, 0, 0, 1) 51%, rgba(161, 108, 3, 1) 100%);
    width: 100%;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

header{
    padding: 50px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 900;
}

header nav{
    float: right;
    width: 50%
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a {
    color: rgb(255, 255, 255);
}
header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: rgb(255, 72, 0);
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;

}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom:  5px solid rgb(255, 72, 0);
    
}

header nav ul li.btn a{
    background: rgb(255, 72, 0) ;
    padding: 9px 17px;
    border-radius: 5px;
    transition:all 500ms ease;
}
header nav ul li.btn a:hover{
    background: rgb(61, 17, 0) ;
}

.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info{
    width: 530px;
    padding-top: 70px;
}

.hero--info h2{
    color: rgb(255, 72, 0);
    font-size: 20px;
    font-weight: 700;
}

.hero--info h1{
    font-size: 50px;
    font-weight: 700;
}

.hero--info h1{
    font-weight:400;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn{
    background: rgb(255, 72, 0);
    color: aliceblue;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 18px;
}

.hero--info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hero img{
    position: absolute;
    top: -80px;
    right: -200px;
}

